.sidebarOption {
  color: gray;
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;
  transition: 0.2s color ease;
}
.sidebarOption:hover {
  color: white;
}
.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}
.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
